<div class="banner">
<app-banner></app-banner>
</div>
<section class="body">
  <div class="container">
  <div class="columns is-mobile">
    <div class="column has-text-left">
        Não trabalhe para o sistema.
        Tenha um sistema que trabalhe para você!
    </div>
    <div class="column has-text-right">
  <a class="button is-link is-rounded">Login</a>
  <a class="button is-info is-rounded">Cadastre sua empresa</a>
</div>
</div>
</div>
<h1 class="title">Planos</h1>
<div class="columns is-variable is-1-mobile is-1-tablet is-1-desktop is-1-widescreen is-1-fullhd">
    <div class="column">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Plano Grátis
              </p>
              <!--<a href="#" class="card-header-icon" aria-label="Plano gratis">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>-->
            </header>
            <div class="card-content">
              <div class="content">
                Plano gratuito na plataforma
                <br>
                <time datetime="2019-6-16">16 jun 2019</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Contratar plano gratuito</a>
            </footer>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Plano Grátis
              </p>
              <!--<a href="#" class="card-header-icon" aria-label="Plano gratis">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>-->
            </header>
            <div class="card-content">
              <div class="content">
                Plano gratuito na plataforma
                <br>
                <time datetime="2019-6-16">16 jun 2019</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Contratar plano gratuito</a>
            </footer>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Plano Grátis
              </p>
              <!--<a href="#" class="card-header-icon" aria-label="Plano gratis">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>-->
            </header>
            <div class="card-content">
              <div class="content">
                Plano gratuito na plataforma
                <br>
                <time datetime="2019-6-16">16 jun 2019</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Contratar plano gratuito</a>
            </footer>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Plano Grátis
              </p>
              <!--<a href="#" class="card-header-icon" aria-label="Plano gratis">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>-->
            </header>
            <div class="card-content">
              <div class="content">
                Plano gratuito na plataforma
                <br>
                <time datetime="2019-6-16">16 jun 2019</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Contratar plano gratuito</a>
            </footer>
          </div>
    </div>
  </div>

Aplicativo de gerenciamento de clinicas e hospitais como nunca visto antes!


</section>
