<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile">
        <div class="comlumn has-text-right">
          <h1 class="title">
        LinkMed
      </h1>
      <h2 class="subtitle">
        Aplicativo de gerenciamento
      </h2>
    </div>
    <div class="comlumn has-text-right">
      <!-- Criar um svg para o banner geral do projeto -->
        <img src="../../../assets/imagem-banner.png" alt="LinkMed Software de gerenciamento de clinicas e hospitais">
      </div>
  </div>
</div>
</div>
</section>
